@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Phone Book API</h1>
        <p class="lead">Full example of using Web API for an Address book</p>
        <hr class="my-4">
        <p>Api for GET(), POST(), PUT(), DELETE()</p>
    </div>
</div>